
/* Makes controls appear on hover*/
.video:hover + .controls, .controls:hover {
    display: block;
}

/* edit and delete controls -- makes them hidden by default*/
.controls {
    display: none;
}

/* delete playlist icon*/
.remove_clip {
    position: absolute;
    margin: 5px;
    right: 0;
}