body {
    background-image: url("https://ids.si.edu/ids/deliveryService?id=NASM-A19740668000-NASM2016-02355-000005&max_w=3000");
    color: white;
    background-size: 100%;
    background-position: center;
}

/* Makes controls appear on hover*/
.video2:hover + .controls, .controls:hover {
    display: block;
}

.video:hover + .controls, .controls:hover {
    display: block;
}

/* edit and delete controls -- makes them hidden by default*/
.controls {
    display: none;
}

/* delete playlist icon*/
.remove_clip {
    position: absolute;
    margin: 5px;
    right: 0;
}

.add_video {
    position: absolute;
    margin: 5px;
    right: 0;
}

.add_video:hover{
    cursor: pointer;
}

.wrapperPlay {
    text-align: center;
}

.play {
    position: absolute;
}
.remove_clip:hover{
    cursor: pointer;
}

.name {
    display: inline-block;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background: darkslateblue;
}

.search {
    display: inline-block;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background: darkslateblue;
}