/* Right arrow*/
#arrowRL2 {
    background: yellow;
    width: 20px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 54px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}

/* Left arrow*/
#arrowLL2 {
    margin-top: 54px;
    background: yellow;
    width: 20px;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: red;
    padding-top: 25px;
}

/* Makes controls appear on hover*/
.video:hover + .controls, .controls:hover {
    display: block;
}

/* edit and delete controls -- makes them hidden by default*/
.controls {
    display: none;
}

/* delete playlist icon*/
.remove_clip {
    position: absolute;
    margin: 5px;
    right: 0;
}