
.container {
    width: 90%;
    height: auto;
    overflow: hidden;
}
.list-container {
    overflow: hidden;
    width: 97%;
    float: left;
    //border: solid 1px blue;
}
.list {
    white-space: nowrap;
    background: #fff;
    //min-width: 320%; // elements*(width+2*padding) 352.458
    float: left;
}
#arrowR {
    background: yellow;
    width: 1.5%;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 55.5px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}
#arrowL {
    margin-top: 55.5px;
    background: yellow;
    width: 1.5%;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}

#arrowRL {
    background: yellow;
    width: 20px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 55.5px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}
#arrowLL {
    margin-top: 55.5px;
    background: yellow;
    width: 20px;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}
.item {
    display: inline-block;
    background: red;
    width: 24%;
    height: 186px;
    margin: 0.4%;
    position: relative;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: White;
}

.library {
    height: 163px;
}

.video {
    position: absolute;
    max-height: 163px;
    width: 100%;
    left: 0;
}

.edit_playlist {
    position: fixed;
    margin: 5px;
}

.video:hover + .controls, .controls:hover {
    display: block;
}

.delete_playlist {
    position: absolute;
    margin: 5px;
    right:0;

}

.controls {
   display: none;
}

