body {
    background-image: url("https://ids.si.edu/ids/deliveryService?id=NASM-A19740668000-NASM2016-02355-000005&max_w=3000");
    color: white;
    background-size: 100%;
    background-position: center;
}