/* Right arrow*/
#arrowRL {
    border-radius: 0px 20px 20px 0px;
    background: cornflowerblue;
    width: 20px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 54px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}

/* Left arrow*/
#arrowLL {
    border-radius: 20px 0px 0px 20px;
    margin-top: 54px;
    background: cornflowerblue;
    width: 20px;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: red;
    padding-top: 25px;
}

/* Right arrow*/
#arrowRL2 {
    border-radius: 0px 20px 20px 0px;
    background: cornflowerblue;
    width: 20px;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 54px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}

/* Left arrow*/
#arrowLL2 {
    border-radius: 20px 0px 0px 20px;
    margin-top: 54px;
    background: cornflowerblue;
    width: 20px;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: red;
    padding-top: 25px;
}

/* Container for all video clips*/
.library {
    height: 215px;
}

.library2 {
    height: 163px;
}


.delete_video {
    position: absolute;
    margin: 5px;
    right: 0;
}
