/* Right arrow*/
#arrowR {
    border-radius: 0px 20px 20px 0px;
    background: cornflowerblue;
    width: 1.5%;
    height: 50px;
    float: right;
    cursor: pointer;
    margin-top: 55.5px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #000;
    padding-top: 25px;
}

/* Left arrow*/
#arrowL {
    border-radius: 20px 0px 0px 20px;
    margin-top: 55.5px;
    background: cornflowerblue;
    width: 1.5%;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: red;
    padding-top: 25px;
}

/* Edit playlist icon*/
.edit_playlist {
    position: absolute;
    margin: 5px;
    float: left;
}

/* delete playlist icon*/
.delete_playlist {
    position: absolute;
    margin: 5px;
    right: 0;
}

.delete_playlist:hover {
    cursor: pointer;
}

.playlist {
    height: 207px;
}